<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Index ClinicPlus</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/index.css}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <th:block th:replace="fragments/navbar :: navbar"></th:block>

    <div class="row index-fondo">



        <div class="container center ">
            <th:block th:if="${(session.medicoLogueado==null)}">
                <div class="jumbotron2 text-center">
                    <h1 class="display-5">Bienvenido Medico de turno</h1>
                    <p class="lead">Porfavor, para poder ocupar el sistema es necesario iniciar sesion</p>
                    <hr class="my-2">
                    <p>Mas información, comuncarse con soporte tecnico</p>
                    <p class="lead">
                        <form th:action="@{login}" method="GET">
                            <button type="submit" class="btn btn-primary btn-block">Iniciar Sesion</button>
                        </form>
                    </p>
            </th:block>

        </div>







        <th:block th:unless="${(session.medicoLogueado==null)}">
            <div class="jumbotron2 text-center">
                <h1 class="display-6">Bienvenido Medico </h1>
                <!--<a th:text="'Bienvenido Dr '+${session.medico.getNombres()}"></a>-->
                <div class="row text-center">
                    <div class="col-6 text-center">
                        <form th:action="@{pacientes/ver}" method="GET">
                            <button type="submit" class="btn btn-primary btn-block">Ver Pacientes</button>
                        </form>
                    </div>

                    <div class="col-6 text-center">
                        <form th:action="@{logout}" method="post">
                            <button type="submit" class="btn btn-danger btn-block">desconectar</button>
                        </form>

                    </div>

                </div>
        </th:block>

    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>